.container3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 60px;
    color: white;

    .inicio3 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        gap: 15px;
        color: white;

        width: 100%;

        h1 {
            color: orange;
            font-family: "Amatic SC", sans-serif;
            font-size: 40px;
        }

        span {
            text-align: center;
            font-family: "Amatic SC", sans-serif;
            font-size: 30px;
            width: 800px;
        }
    }

    .check {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;

        .in {

            background-color: rgb(20, 20, 20);
            border: solid 1px rgb(58, 58, 58);
            margin: 30px;
            padding: 34px;
            border-radius: 15px;

            .cliente {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-top: 20px;

                span{
                    color: orange;
                }

                h5{
                    font-weight: 200;
                    font-size: 15px;
                    color: gray;
                }
            }

            .about {
                display: flex;
                margin-top: 10px;
                font-style: italic;
                color: rgb(201, 201, 201);
            }

            .line {
               
               hr{
                border: 1px solid rgb(44, 44, 44);
                margin-top: 20px
               }
                
            }


            p {
                display: flex;
                margin-top: 10px;
                width: 400px;
            }
        }

        svg {
            color: orange;
            font-size: 22px;
        }


    }

}