.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;

    .esq {
        width: 800px;

        .text {
            display: flex;
            flex-direction: column;

            span {
                color: orange;
                font-family: "Chewy", system-ui;
                font-size: 22px;

            }
        }

        h3 {
            color: white;
            padding: 20px;
            font-weight: 200;
            font-family: "Chewy", system-ui;
            font-size: 22px;

        }

        h1 {
            color: orange;
            margin-left: 20px;
            font-size: 35px;
            font-family: "Amatic SC", sans-serif;
            font-size: 40px;


        }

        .experience {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 20px;
            color: white;
            gap: 6px;
            font-size: 19px;
            border: solid 1.5px orange;
            padding: 15px;
            border-radius: 6px;
            width: 290px;


            span {
                color: orange;
            }
        }


    }

    .dir {
        img {
            width: 450px;
            height: 400px;
            border-radius: 10px;
            object-fit: cover;
        }
    }


}

.container2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;

    .inicio {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        gap: 15px;
        color: white;

        h1 {
            color: orange;
            font-family: "Amatic SC", sans-serif;
            font-size: 40px;
        }

        span {
            font-family: "Amatic SC", sans-serif;
            font-size: 30px;
        }
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 60px;
        margin-top: 50px;
        width: 1000px;
        color: white;

        .card {
            display: flex;
            flex-direction: column;
            gap: 14px;
            background-color: rgb(20, 20, 20);
            padding: 25px;
            border-radius: 20px;
            cursor: pointer;
            /* Importante! Deixa a borda invisível inicialmente */
            border: 2px solid transparent;
            /* Suaviza o acendimento da borda */
            transition: border-color 0.3s ease;

            p {
                display: flex;
                font-weight: 100;
                color: rgb(176, 176, 176);
            }

            span {
                font-weight: lighter;
            }


            &:hover {
                border-color: orange;
            }
        }

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: orange;
            border-radius: 26px;
            padding: 10px;
            width: 55px;

            svg {
                display: flex;
                color: black;
                font-size: 34px;
            }
        }





    }


    /* card2 */
    .cards2 {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 60px;
        margin-top: 50px;
        width: 1000px;
        color: white;

        .card {
            display: flex;
            height: 200px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 14px;
            width: 320px;
            background-color: rgb(20, 20, 20);
            padding: 25px;
            border-radius: 15px;
            cursor: pointer;
            /* Importante! Deixa a borda invisível inicialmente */
            border: 2px solid transparent;
            /* Suaviza o acendimento da borda */
            transition: border-color 0.3s ease;

            h4 {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 4px;
                color: orange;
            }

            p {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 100;
                color: rgb(176, 176, 176);
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 220px;
                font-weight: lighter;

            }


            &:hover {
                border-color: orange;
            }
        }

        .icon {
            display: flex;
            margin: auto;
            background-color: orange;
            border-radius: 26px;
            padding: 10px;
            width: 55px;

            svg {
                display: flex;
                color: black;
                font-size: 34px;
            }
        }

    }

    @media (max-width: 1000px) {

        /* NÃO coloque .container2 aqui */

        .cards2 {
            grid-template-columns: 1fr 1fr;
            width: 100%;
            gap: 20px;
        }

        .cards {
            grid-template-columns: 1fr 1fr;
            width: 100%;
            gap: 20px;
        }
    }


}


.container3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;



    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 60px;
        margin-top: 50px;
        width: 1000px;
        color: white;

        .card {
            display: flex;
            flex-direction: column;
            gap: 14px;
            background-color: rgb(20, 20, 20);
            padding: 25px;
            border-radius: 20px;
            cursor: pointer;
            /* Importante! Deixa a borda invisível inicialmente */
            border: 2px solid transparent;
            /* Suaviza o acendimento da borda */
            transition: border-color 0.3s ease;

            p {
                display: flex;
                font-weight: 100;
                color: rgb(176, 176, 176);
            }

            span {
                display: flex;

                font-weight: lighter;

            }


            &:hover {
                border-color: orange;
            }
        }

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: orange;
            border-radius: 26px;
            padding: 10px;
            width: 55px;

            svg {
                display: flex;
                color: black;
                font-size: 34px;
            }
        }





    }


    /* card3 */
    .cards3 {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 60px;
        margin-top: 50px;
        width: 1000px;
        color: white;

        .card {
            display: flex;
            height: 120px;
            flex-direction: column;
            background-color: var(--color-black);
            padding: 25px;
            border-radius: 15px;
            cursor: pointer;
            border: solid 2px orange;
            width: 320px;



            h4 {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 4px;
                color: orange;
            }

            p {
                display: flex;
                align-items: center;
                margin: auto;
                justify-content: center;
                font-weight: 100;
                color: orange;
                font-size: 28px;
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                width: 220px;
                font-weight: lighter;

            }

        }

        .icon {
            display: flex;
            margin: auto;
            background-color: orange;
            border-radius: 26px;
            padding: 10px;
            width: 55px;

            svg {
                display: flex;
                color: black;
                font-size: 34px;
            }
        }

    }

    @media (max-width: 1000px) {

        /* NÃO coloque .container2 aqui */

        .cards3 {
            grid-template-columns: 1fr;
            width: 350px;
            gap: 40px;

        }

        .card {
            transition: 1.5 ease;
        }


    }

}


.redes {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    color: white;

    .inicio {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        gap: 15px;
        color: white;

        h1 {
            color: orange;
            font-family: "Amatic SC", sans-serif;
            font-size: 40px;
        }

        span {
            font-family: "Amatic SC", sans-serif;
            font-size: 30px;
        }
    }

    .cardsRedes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 60px;
        margin-top: 50px;
        width: 1400px;
        height: 200px;
        color: white;


        .cardRedes {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 14px;
            background-color: rgb(20, 20, 20);
            padding: 25px;
            border-radius: 10px;
            cursor: pointer;
            /* Importante! Deixa a borda invisível inicialmente */
            border: 2px solid transparent;
            /* Suaviza o acendimento da borda */
            transition: border-color 0.3s ease;

            p {
                display: flex;
                font-weight: 100;
                color: rgb(176, 176, 176);
            }

            span {
                font-weight: lighter;
            }


            &:hover {
                border-color: orange;
            }

            h4{
                color: orange;
            }
        }

        .iconRedes {
            display: flex;
            align-items: center;
            justify-content: center;    
            border-radius: 26px;
            padding: 10px;
            width: 55px;

            svg {
                display: flex;
                color: gray;
                font-size: 40px;
            }
        }
    }

}