.descricao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;


    p {
        display: flex;
        text-align: center;
        color: white;
        font-family: "Amatic SC", sans-serif;
        font-size: 37px;
        width: 920px;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {

            margin-top: 50px;
            font-size: 50px;
            color: orange;
        }
    }

    @media(max-width:1000px) {

      

        p{
            width: 400px;
            text-align: center;
        }

    }
}

.line {
    display: flex;
    align-items: center;
    justify-content: center;

    hr {
        margin-top: 30px;
        width: 200px;

        border: solid 1px orange;
    }
}