.container3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 120px;
    color: white;
    background-color: rgb(20, 20, 20);
    height: 900px;


    .inicio3 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        gap: 15px;
        color: white;

        width: 100%;

        h1 {
            color: orange;
            font-family: "Amatic SC", sans-serif;
            font-size: 40px;
        }

        span {
            text-align: center;
            font-family: "Amatic SC", sans-serif;
            font-size: 30px;
            width: 800px;
        }
    }

    .allzonas {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;

        .zona {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 9px;
           background-color: black;
            border: solid 1px rgb(58, 58, 58);
            padding: 18px;
            width: 790px;
            border-radius: 12px;


            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                color: black;
                font-size: 30px;
                margin: 10px;
                background-color: orange;
                padding: 9px;
                border-radius: 8px;
            }

            .infos {
                display: flex;
                gap: 500px;
                align-items: center;


                .info {
                    display: flex;
                    flex-direction: column;
                    width: 100px;


                    p {
                        display: flex;
                        margin-top: 7px;
                        color: rgb(153, 153, 153);
                    }
                }

                .info2 {
                    display: flex;


                }

            }


            h4 {
                display: flex;
                align-items: center;
                justify-content: center;
                color: orange;
                font-weight: 200;
                width: 100px;
            }
        }

    }
}