.container3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 100px;
    color: white;
    /* background-color: rgb(20, 20, 20);
    height: 500px; */


    .inicio3 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        gap: 15px;
        color: white;

        width: 100%;

        h1 {
            color: orange;
            font-family: "Amatic SC", sans-serif;
            font-size: 40px;
        }

        span {
            text-align: center;
            font-family: "Amatic SC", sans-serif;
            font-size: 30px;
            width: 800px;
        }
    }

    .allzonas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .zona{
            display: flex;
            margin: 20px;
        }

    }
}