.container3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(20, 20, 20);
    height: 600px;
    margin-top: 100px;


    .inicio3 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        gap: 15px;
        color: white;

        width: 100%;

        h1 {
            color: orange;
            font-family: "Amatic SC", sans-serif;
            font-size: 40px;
        }

        span {
            text-align: center;
            font-family: "Amatic SC", sans-serif;
            font-size: 30px;
            width: 800px;
        }
    }

    .combocards {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
        width: 100%;
        color: white;
        margin-top: 50px;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 15px;
            width: 350px;
            height: 330px;
            border-radius: 10px;
            transition: transform 0.3s, box-shadow 0.3s;
            /* background-color: #1E1E1E; */
            background-color: black;
            padding: 32px;
            border: solid 3px rgb(58, 58, 58);


            .botao {
                display: flex;
                align-items: center;
                justify-content: center;


                button {
                    padding: 16px;
                    width: 270px;
                    background-color: orange;
                    border-radius: 10px;
                    color: black;
                    font-size: 17px;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(255, 182, 45);
                    }
                }
            }

            h1 {
                display: flex;
                color: orange;
                width: 280px;
                font-size: 27px;

            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 15px;
                font-size: 18px;
                margin-top: 10px;

                li {
                    display: flex;
                    gap: 10px;

                    svg {
                        align-items: center;
                        justify-content: center;
                        color: orange;
                    }
                }

                h2 {
                    display: flex;
                    margin-top: 20px;
                    color: orange;

                }
            }

        }

    }

    .combocards {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
        width: 100%;
        color: white;
        margin-top: 50px;

        .card2 {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 15px;
            width: 350px;
            height: 330px;
            border-radius: 10px;
            transition: transform 0.3s, box-shadow 0.3s;
            /* background-color: #1E1E1E; */
            background-color: black;
            padding: 32px;
            border: solid 3px orange;



            .most {
                position: absolute;
                top: -15px;
                left: 50%;
                transform: translateX(-50%);
                background-color: orange;
                color: black;
                padding: 8px 18px;
                border-radius: 20px;
                font-size: 14px;
                font-weight: bold;
                font-weight: 200;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
            }

            .botao {
                display: flex;
                align-items: center;
                justify-content: center;


                button {
                    padding: 16px;
                    width: 270px;
                    background-color: orange;
                    border-radius: 10px;
                    color: black;
                    font-size: 17px;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(255, 182, 45);
                    }
                }
            }

            h1 {
                color: orange;
                font-size: 27px;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 15px;
                font-size: 18px;
                margin-top: 10px;

                li {
                    display: flex;
                    gap: 10px;

                    svg {
                        color: orange;
                    }
                }
            }

            h2 {
                margin-top: 20px;
                color: orange;
            }
        }
    }








}