.find {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 80px;
    font-size: 25px;
    flex-direction: column;

    h1 {
        font-family: "Amatic SC", sans-serif;

    }

    span {
        color: orange;
        font-family: "Amatic SC", sans-serif;
    }

    .descricao {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 550px;
        margin-top: 20px;

        p {
            font-family: "Amatic SC", sans-serif;
            font-size: 35px;

        }
    }
}

.location {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: rgb(29, 29, 29);
    padding: 30px;
    width: 440px;
    height: 350px;
    margin-top: 30px;
    border-radius: 12px;

    .infos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;

        h1{
            display: flex;
            font-size: 30px;
            font-family: "Amatic SC", sans-serif;
            font-weight: 800;
        }

        p{
            display: flex;
            font-size: 30px;
            font-family: "Amatic SC", sans-serif;
            width: 300px;
           
        }


        .icon {
            display: flex;
            background-color: orange;
            border-radius: 26px;
            padding: 10px;


            svg {
                display: flex;
                color: black;
                font-size: 34px;



            }
        }
    }
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: orange;
        text-decoration: none;
        color: black;
        padding: 14px;
        border-radius: 8px;
        font-weight: 600;
        gap: 14px;
        font-family: "Amatic SC", sans-serif;
        font-size: 25px;
        margin-top: 10px;
        width: 230px;
    }

 
}