.container3 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    background-color: rgb(20, 20, 20);
    height: 500px;


    .inicio3 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        gap: 15px;
        color: white;
        width: 100%;

        h1 {
            color: orange;
            font-family: "Amatic SC", sans-serif;
            font-size: 40px;
        }

        span {
            text-align: center;
            font-family: "Amatic SC", sans-serif;
            font-size: 30px;
            width: 800px;
        }
    }

    .formas {
        display: flex;
        margin: auto;
        color: white;
        margin-top: 50px;
        gap: 70px;

        .details {
            border: solid 1px rgb(58, 58, 58);
            background-color: black;
            padding: 32px;
            width: 230px;
            height: 180px;
            border-radius: 15px;
            cursor: pointer;
            transition: 1s;

            .icon {
                display: flex;
                margin: auto;
                background-color: orange;
                border-radius: 12px;
                padding: 10px;
                width: 50px;

                svg {
                    font-size: 30px;
                    color: black;

                }
            }



            span {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
            }

            p {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 15px;
                font-size: 13px;
                color: gray;
            }

            &:hover{
                border: solid 1px orange;
                transition: 1s;
            }
        }


    }
}