.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0f0f;
    color: white;
    padding: 20px 60px;
    border-bottom: 1px solid #222;
    font-family: "Bebas Neue", sans-serif;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.iconBox {
    background-color: #f2a007;
    color: black;
    padding: 10px;
    border-radius: 8px;
    font-size: 28px;
}

.logo h1 {
    font-size: 24px;
    letter-spacing: 1px;
}

/* MENU */
.nav {
    display: flex;
    gap: 35px;
}

.nav a {
    color: #ddd;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
    /* font-family: "Bebas Neue", sans-serif;
    font-size: 24px; */
}

.nav a:hover {
    color: #f2a007;
}

/* BOTÃO PEDIDO */
.pedido {
    background-color: #f2a007;
    color: black;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;

    span {
        /* font-family: "Amatic SC", sans-serif; */
        font-size: 22px;
        font-family: "Chewy", system-ui;
    }
}

.pedido:hover {
    background-color: #ffb92a;
}

/* Ícone do botão */
.pedido svg {
    font-size: 18px;
}

/* Responsividade */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        gap: 15px;
    }

    .nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    
    }

    .pedido {
        margin-top: 10px;
    }
}