.footer {
    background-color: #0f0f0f;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 80px;
    margin-top: 100px;
    border-top: 1px solid #222;
    font-family: "Segoe UI", sans-serif;
}

.section {
    flex: 1;
    min-width: 250px;
    margin-bottom: 30px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconBox {
    background-color: #f2a007;
    color: black;
    padding: 12px;
    border-radius: 8px;
    font-size: 22px;
}

.logo span {
    font-weight: 700;
    font-size: 22px;
}

.section p {
    margin-top: 10px;
    color: #ccc;
    max-width: 320px;
    line-height: 1.5;
}

.section h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: white;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section li {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ccc;
    margin-bottom: 10px;
    font-size: 16px;
}

.section li svg {
    color: #f2a007;
}

.subitem {
    margin-left: 30px;
}

.highlight {
    color: #f2a007;
    font-weight: 500;
}

.orangeIcon {
    color: #f2a007;
}

.bottom {
    text-align: center;
    background-color: #0f0f0f;
    color: #aaa;
    font-size: 14px;
    border-top: 1px solid #222;
    padding: 25px 0;
}