.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;

    .esq {
        width: 800px;

        .text {
            display: flex;
            flex-direction: column;
        }

        h3 {
            color: white;
            padding: 20px;
            font-weight: 200;
            font-family: "Chewy", system-ui;
            font-size: 22px;

        }

        h1 {
            color: orange;
            margin-left: 20px;
            font-size: 35px;
            font-family: "Amatic SC", sans-serif;
            font-size: 40px;


        }


    }

    .dir {
        img {
            width: 450px;
            height: 400px;
            border-radius: 10px;
        }
    }

    .infos {
        display: flex;
        text-align: center;
        justify-content: center;



        .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 20px;
            gap: 5px;

            span {
                display: flex;
                color: white;
                align-items: center;
                justify-content: center;
                width: 200px;
                font-family: "Amatic SC", sans-serif;
                font-size: 24px;
            }

            h1 {
                align-items: center;
                justify-content: center;
            }

        }

        .infoespecial {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 25px;
            gap: 5px;
            margin-top: 40px;

            span {
                display: flex;
                color: white;
                text-align: center;
                justify-content: center;
                width: 100px;
                font-family: "Amatic SC", sans-serif;
                font-size: 24px;
            }

            h1 {
                align-items: center;
                justify-content: center;
                margin-right: 20px;
            }


        }

    }
}