* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;

}

html, body, #root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: black;
}


